*{
    list-style-type:none;
    text-decoration:none;
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    clear: both;
}
body{
    box-sizing:border-box;
    background: url('../img/body2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 90%;
    height: auto;
    clear: both;
}
/* Header Start */

header{
    width: 100%;
    height: 769px;
}
/* Left Logo */
header nav{
    position: relative;
    z-index: 1;
}
header nav .nav .Left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;

}
header nav .nav .Left i{
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    cursor: pointer;
}
header nav .nav .Left h2{
    color: white;
    cursor: pointer;
    padding-bottom: 0px;
    margin-bottom: 2px;
}
/* Nav */
header nav .nav .Right nav{
    background: transparent;
}
header nav .nav .Right .collapse ul>li>a{
    color: white;
}
header nav .nav .Right .collapse ul>li{
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: white;
}
header nav .nav .Right .collapse ul>li:hover{
    background: #db383c;
}
header nav .nav .Right .collapse ul>li:hover>a{
    color: white;
}
header nav .nav .Right .collapse ul>li:nth-of-type(1){
    background: #db383c;
}
header nav .nav .Right .collapse ul>li:nth-of-type(3):hover>.dropdown-menu{
    display: block;
    background: #033958;
    
}
header nav .nav .Right .collapse ul>li:nth-of-type(3):hover>.dropdown-menu a{
    color: white;
    transition: all 0.4s ease-in-out;
}
header nav .nav .Right .collapse ul>li:nth-of-type(3):hover>.dropdown-menu a:hover{
    color: #db383c;
}
header nav .nav .Right .collapse ul>li:nth-of-type(3):hover>.dropdown-menu a{
    background: transparent;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0772ba;
  }

/* Slider */
header .slider .slide{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 769px;
}
header .slider .slide{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 769px;
}
header .slider .d-block{
    height: 769px;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
    object-fit: cover;
}
header .slider .first{
    background: url('../img/slider1.jpg');
}
header .slider .second{
    background: url('../img/slider2.jpg');
}
header .slider .third{
    background: url('../img/slider3.jpg');
}
header .slider .d-block{
    padding: 0px 250px;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .slider .d-block h1{
    font-size: 3.5em;
    color: white;
}
header .slider .d-block p{
    margin: 50px 0px;
    font-size: 1.2em;
    color: white;
    font-family: 'IBM Plex Serif', serif;
}
header .slider .d-block button{
    background: wheat;
    color: rgb(56, 55, 52);
}
header .slider .d-block button:hover{
    background: wheat;
    color: rgb(187, 180, 159);
}

/* Header End */

/* Section 1 Start */
.section1{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color:  rgba(13, 65, 133, 0.8);
}
.section1 .head{
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
}
.section1 .sec{
    width: 100%;
    height: 350px;
    margin: 0px;
    padding: 0px;
    display:flex;
}
.section1 .head h1{
    color: aliceblue;
    font-weight: bold;
}
.section1 .head hr{
    color: #db383c;
    border: 2px solid #db383c;
    width: 10%;
    margin: 0 auto;
    margin-top: 40px;
}

.section1 .sec div[class*="icon"]{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid  #0772ba;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    text-align: center;
}
.section1 .sec div[class*="icon"] i{
   font-size: 2em;
   color: white;
}
.section1 .sec .col-lg-3{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    text-align: center;
}
.section1 .sec .col-lg-3 h4{
    color:white;
    font-weight: bold;
    padding: 0px;
    margin: 0px;    
}
.section1 .sec .col-lg-3 hr{
    color: #0772ba;
    border: 1px solid #0772ba;
    width: 12%;
    margin: 20px auto;
}
.section1 .sec .col-lg-3 p{
    color:white;
    font-weight: bold;
}
/* Section 1 End */

/* Section 2 Start */
.section2{
    background: url('../img/body.jpg');
    background-attachment: fixed;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.section2 .head{
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 150px;
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
}
.section2 .sec{
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    width: 100%;
    height: auto;
    display:flex;
}
.section2 .head h1{
    color: aliceblue;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
}
.section2 .head hr{
    color: #033958;
    border: 2px solid #033958;
    width: 10%;
    margin: 0 auto;
    margin-top: 5px;
}
/* Img */
.section2 .sec .one{
    background: url('../img/first1.jpg');
}
.section2 .sec .two{
    background: url('../img/first2.jpg');
}
.section2 .sec .three{
    background: url('../img/first3.jpg');
}
.section2 .sec .four{
    background: url('../img/first4.jpg');
}
.section2 .sec .col-lg-6{
    position: relative;
}

.section2 .sec .col-lg-6 .img{
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    text-align: center;
    color: white;
    position: relative;
}
.section2 .sec .col-lg-6 div[class*="layout"]{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background: rgba(13, 65, 133, 0.6);
    display: none;

}
.section2 .sec .col-lg-6 .img:hover div[class*="layout"]{
    cursor: pointer;
    display: block;
}
.section2 .sec .col-lg-6 .img:hover p{
    background: #033958;
}
.section2 .sec .col-lg-6 .img p{
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    padding: 5px 12px;
    background: #db383c;
    margin-top: 10px;
}
.section2 .btna .button{
    margin: 70px 0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
}
.section2 .btna .button button{
    outline: none;
    border: none;
}
.section2 .btna .button button:hover{
    background: #064a72;
    outline: none;
    border: none;
}


/* Section 2 End */

/* Section 3 Start */
.section3{
    width: 100%;
    height: auto;
    background: #064a72;
}
.section3 .text{
    width: 100%;
    height: auto;
    margin: 150px 0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    text-align: center;
}
.section3 .text h3{
    font-size: 2em;
    color: floralwhite;
}
.section3 .text h1{
    margin: 20px 0px;
    font-size: 3em;
    color: floralwhite;
}
.section3 .text button{
    padding: 8px 30px;
    border: none;
    outline: none;
}
.section3 .text button:hover{
    background: #033958;
    border: none;
    outline: none;
}
::selection{
    background:#db383c;
}

/* Section 3 End */

/* Section 4 Start */
.section4{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.section4 .head{
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 150px;
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
}
.section4 .sec{
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    width: 100%;
    height: auto;
    display:flex;
}
.section4 .head h1{
    color: aliceblue;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
}
.section4 .head hr{
    color: #033958;
    border: 2px solid #033958;
    width: 10%;
    margin: 0 auto;
    margin-top: 5px;
}
.section4 .btna .button{
    margin: 70px 0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;

}
.section4 .btna .button button{
    outline: none;
    border: none;
}
.section4 .btna .button button:hover{
    background: #064a72;
    outline: none;
    border: none;
}
/* Main */
.section4 .sec{
    width: 100%;
    height: auto;
}
.section4 .sec .common{
    width: 100%;
    height: 480px;
    background: oldlace;
    margin: 50px 0px;
}
.section4 .sec .img{
    width: 100%;
    height: auto;
}
.section4 .sec .img .image1{
    background: url('../img/second1.jpg');
}
.section4 .sec .img .image2{
    background: url('../img/second2.jpg');
}
.section4 .sec .img .image3{
    background: url('../img/second3.jpg');
}
.section4 .sec .img div[class*="image"]{
    width: 100%;
    height: 250px;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* >< */
.section4 .sec .comment{
    margin: 15px 20px;
}
.section4 .sec .comment .fs{
    color: #033958;
    margin: 15px 0px;
    font-size: 0.9em;
}
.section4 .sec .comment .fs i:nth-of-type(2){
    margin-left: 15px;
}
.section4 .sec .comment .fs span:nth-of-type(2){
    margin-right: 15px;
}
.section4 .sec .comment .cm h5{
    font-size: 1.1em;
    color: #db383c;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.section4 .sec .comment .cm h5:hover{
    color: #033958;
}
.section4 .sec .comment .cm p{
    color: #393a3c;
    font-size: 0.95em;
}
.section4 .sec .comment .bt button{
    outline: none;
    border: none;
    margin: 10px 10px 20px 0px;
 }
.section4 .sec .comment .bt button:hover{
   background: #db383c;
    outline: none;
    border: none;
}
/* Section 4 End */

/* Footer Start */
footer{
    width: 100%;
    height: auto;
}
.top{
    background: #033958;
}
.bottom{
    padding-top: 30px;
    background: #db383c;
}
footer .fst{
    padding: 50px 0px;
    width: 100%;
    height: auto;
    margin: 0px;
}
footer .fst h1{
    font-size: 2.5em;
    color: oldlace;
    font-weight: bold;
}
footer .top .fst .col-md-2 button{
    outline: none;
    border: none;
    margin: 10px 10px 20px 0px;
}
footer .top .fst .col-md-2, footer .top .fst .col-md-10 {
    text-align: center;
}

footer .top .fst .col-md-2 button:hover{
   background: #095785;
    outline: none;
    border: none;
}
footer .bottom .col-md-4{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding: 0px;
}
footer .bottom .col-md-4 p{
    padding: 0px;
    margin: 0px;
    color: floralwhite;
    font-weight: bold;
}
footer .bottom .col-md-4 p span{
    transition: all 0.4s ease-in-out;
    margin-left: 10px;
    cursor: pointer;
}
footer .bottom .col-md-4 p span:hover{
    color: #393a3c;
}
footer .scn .col-md-8 {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer .scn .col-md-8 i{
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    cursor: pointer;
}
footer .scn .col-md-8 h2{
    color: white;
    cursor: pointer;
    padding-bottom: 0px;
    margin-bottom: 2px;
}
/* Footer End */

/*  The Fixeds Start */
#left{
    position: fixed;
    top: 200px;
    left: 0px;
    width: 60px;
    height: 60px;
    background: #333;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    z-index: 500;   
}
#left i{
     color: #5f666b; 
     font-size: 1.4em;
     transition: all 0.4s ease-in-out;
}
#left i:hover{
    color: #ffffff;
}

#right{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: #033958;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 500;
}
#right i{
    color: #5f666b; 
    font-size: 1em;
    transition: all 0.4s ease-in-out;
}
#right i:hover{
    color: #ffffff;
    font-size: 1.05em;
}
#bottom{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 500;
}
#bottom i{
    color: #033958;
    font-size: 2.5em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#bottom i:hover{
    color: #5f666b; 
}
/*  The Fixeds Start */